<h2>Edit <%= @product.title %></h2>
<hr>

<%= simple_form_for [:admin,@product] do |f| %>
<%= f.input :title %>
<%= f.input :description %>
<%= f.input :price %>
<%= f.input :quantity %>

<% if @product.image.present? %>
<span>目前商品图片</span><br>
<%= image_tag(@product.image.thumb.url)%>
<% end %>
<%= f.input :image,as: :file %>
<%= f.input :is_hidden%>

<%= f.submit "Submit" %>
<% end %>
