<div class="col-md-12">
  <h2 class="text-center">Product List</h2>
  <div class="group">
    <%= link_to("New Product",new_admin_product_path,class:"btn btn-link")%>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th width="220">Product Pic</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
      <tr>
        <td><%= product.id%></td>
        <td>
          <%= link_to admin_product_path(product) do %>
            <% if product.image.present? %>
              <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
            <% end %>
          <% end %>
        </td>
        <td><%= link_to(product.title,admin_product_path(product))%></td>
        <td><%= simple_format(product.description)%></td>
        <td><%= product.price %></td>
        <td><%= product.quantity %></td>
        <td>
          <%= link_to("Edit", edit_admin_product_path(product),class:"btn btn-sm btn-default") %>
          <%= link_to("Delete", admin_product_path(product),class:"btn btn-sm btn-default",method: :delete,data:{confirm:"Are you sure?"}) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
